* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

:root {
    --green: #02897A;
    --blue: #4D8DFF;
    --purple: #740A76;
    --black: #22343D;
    --white: #FFFFFF;
    --red: #F03E3D;
}

/* 
Breakpoints:
640px
768px
1024px
1280px
1536px
*/



/* --- Common --- */
.section-container {
    padding: 24px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}

button {
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
}

.button-contained {
    background-color: var(--green);
    color: var(--white);
    border: none;
}

.button-outlined {
    background-color: transparent;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

/* --- Navbar --- */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0px -2px 8px 0px #00000040;
}

/* CSS specificity */
nav.section-container {
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-logo-container h3 {
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
}

.navbar-right-side {
    display: none;
}

.navbar-right-side ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.navbar-right-side a {
    color: var(--black);
    text-decoration: none;
}

@media (min-width: 1024px) {
    .hamburger-menu {
        display: none;
    }

    .navbar-right-side {
        display: flex;
        gap: 24px;
        align-items: center;
    }
}

/* --- Header --- */
.header-image {
    width: 100%;
    max-width: 440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    margin-top: 12px;
    text-align: center;
    color: var(--black);
    font-weight: 700;
    line-height: 60px;
    font-size: 36px;
}

.header-description {
    margin-top: 16px;
    text-align: center;
    color: var(--black);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.watch-video {
    color: var(--green);
    text-decoration: underline;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-buttons {
    margin-top: 16px;
    display: flex;
    gap: 24px;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 32px;
    }



    .header-title {
        width: 360px;
        text-align: left;
        line-height: 60px;
        font-weight: 700;
    }

    .header-description {
        text-align: left;
        width: 458px;
        line-height: 28px;
        font-size: 18px;
        font-weight: 400;

    }

    .header-buttons {
        justify-content: start;
        margin-top: 48px;
    }

    .header-image {
        max-width: 600px;
    }

    nav {
        box-shadow: none;
    }

}


/* First Section */

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 80px;

}

.first-section-container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;

}

.first-section h2 {
    text-align: center;
    width: 320px;
    font-size: 32px;
}

.first-section-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.first-section-box img {
    width: 48px;

}

.first-section-box p {
    text-align: center;
    margin-top: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 240px;
}

.first-section-box h3 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
}

.button-contained-first-section {
    margin-top: 24px;
}


@media (min-width: 768px) {
    .first-section-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        flex-wrap: wrap;

    }

    .first-section {
        margin-bottom: 160px;
    }
}

@media (min-width: 1024px) {

    .first-section-container {
        display: flex;
        gap: 32px;
        flex-wrap: nowrap;

    }

    .first-section h2 {
        width: 500px;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
    }

    .first-section-box {
        align-items: start;
    }

    .first-section-box h3 {
        text-align: left;
    }

    .first-section-box p {
        text-align: left;
    }


}



/* Second Section */

.second-section {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.second-section-box {
    margin-bottom: 80px;
}

.second-section-box>img {

    width: 320px;
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
}

.second-section-box h4 {
    width: 240px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;

}

.second-section-box h2 {
    width: 320px;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 16px;
}

.second-section-box p {
    min-width: 330px;
    max-width: 640px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.second-section-box-list {
    display: flex;
    align-items: center;
    gap: 32px;

    margin-bottom: 16px;
}

.second-section-box-list p {
    margin: 0;
    min-width: 270px;
    max-width: 640px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

@media (min-width: 768px) {
    .second-section-box {
        display: flex;
        flex-direction: row-reverse;
        gap: 54px;
    }

    .reverse-box {
        flex-direction: row;

    }

    .second-section-box>img {
        min-width: 300px;
    }
}

@media (min-width: 1024px) {
    .second-section-box {
        gap: 100px;
    }

    .second-section-under-img {
        width: 480px;
    }

    .second-section-box>img {
        width: 540px;
    }
}


/* Third section */


.third-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
}

.third-section h2 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
}

.third-section>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
    min-width: 330px;
}

.third-section-professionals {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;

}

.reverse {
    flex-direction: row-reverse;
}



.third-section-professionals img {
    width: 80px;
}

.align-left {
    text-align: left;
}

.third-section-professionals p {
    width: 180px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 640px) {
    .third-section-professionals p {
        width: 240px;
    }
}

@media (min-width: 768px) {

    .third-section-professionals {
        margin-right: 100px;
    }

    .reverse {
        margin-right: 0px;
        margin-left: 100px;
    }

    .third-section>p {
        width: 540px;
    }


}

@media (min-width: 1024px) {
    .third-section-professionals-box {
        display: grid;
        column-gap: 200px;
        margin-bottom: 16px;
    }

    .old-lady {
        grid-area: 1/2;
    }

    .reverse {
        margin-left: 0;
    }

    .third-section-professionals {
        margin-right: 0;
    }

}

/* Strategies Section */

.section-contents-strategies {
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contents-strategies h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 8px;

}

.section-contents-strategies>p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.strategies img {
    width: 100%;
    margin-bottom: 24px;
}

.strategies p {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.strategies p span {
    font-weight: bold;
}

.strategies h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 40px;
}

.green {
    color: var(--green);
}

.succes-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media (min-width: 768px) {

    .strategies-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

    }

    .strategies {
        border: 0.5px solid #00000040;
        border-radius: 8px;
    }

    .strategies>div {
        padding-left: 24px;
    }

}

@media (min-width: 1024px) {

    .strategies-container {


        justify-content: center;

        flex-wrap: nowrap;
    }

    .section-contents-strategies {
        align-items: start;
    }

}




/* Three colored points */

.three-colored-points {
    display: block;
    margin: auto;
    margin-bottom: 80px;
}

@media (max-width: 640px) {
    .three-colored-points {
        display: none;
    }
}


/* Price Table Section */

.price-table-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.price-table-section h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 8px;
}

.price-table-section>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}

.price-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px -2px 8px 0px #00000040;
    padding: 32px 72px;
    margin-bottom: 32px;
}

.price-table h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 8px;
}

.price-table p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

}


.price-table {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.price>p {
    font-size: 72px;
    font-weight: 700;
    color: var(--green);
    line-height: 100px;
}

.per-month p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(175, 175, 175, 1);
}

.per-month p:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--green);
}

.price-table-describe {
    margin-bottom: 40px;
}

div.green-table {
    background-color: var(--green);
    color: var(--white);
}

.green-table div.white p {
    color: var(--white);

}

.white-background {
    background-color: white;
    color: var(--green)
}

@media (min-width: 768px) {
    .price-tables {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 48px
    }
}


/* Common classes start */

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fs16 {
    font-size: 16px;
}

.fs32 {
    font-size: 32px;
}

.lh {
    line-height: 28px;
}

.tc {
    text-align: center;
}



.what-clients-say-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.what-clients-say-section h2 {
    width: 300px;
    margin-bottom: 8px;
}

.under-title {
    width: 320px;
    font-weight: 500;
    margin-bottom: 32px;

}

.client {
    text-align: left;
    border: 0.5px solid #00000040;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 32px;
    max-width: 440px;
}

.client>img {
    margin-bottom: 16px;
}

.client-describe {
    margin-bottom: 16px;
}

.client-profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.client-name {
    font-weight: 600;
    color: var(--green);
}


@media (min-width: 768px) {

    .client {
        width: 320px;
    }

    .what-clients-say {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 64px;
        justify-content: center;
    }

    .under-title {
        width: 540px;

    }
}

@media (min-width: 1440px) {



    .what-clients-say {
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: center;

    }


}



/* Big GREEN BOX */


.big-green-box {
    background-color: var(--green);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    overflow: hidden;
    margin-bottom: 80px;
}





.paragraph-and-button h3 {

    line-height: 48px;
    margin-bottom: 32px;
    font-size: 30px;
    min-width: 320px;

}

.white {
    color: var(--white);
}

.white-button {
    display: block;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

@media (min-width: 768px) {

    .big-green-box {
        flex-direction: row;
        align-items: center;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

    }

    .paragraph-and-button h3 {
        text-align: left;

    }

    .white-button {
        margin: 0;
        margin-bottom: 8px;
    }



}


/* Footer */

.footer-container {

    text-align: center;
}



.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;

}

.footer-divisions {
    margin-bottom: 32px;
}

.footer-divisions h4 {
    font-size: 20px;
    line-height: 32px;
}

.footer-divisions p {
    font-size: 16px;
    line-height: 32px;
}

.input-footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input-footer input {
    width: 320px;
    border: 0.5px solid rgba(175, 175, 175, 1);
    border-radius: 4px;
    height: 48px;
    margin: auto;

}

.footer-button {
    width: 160px;
    margin: auto;
}

.footer-last-paragraph {
    margin-top: 48px;
    margin-bottom: 80px;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-contain {
        display: flex;
        justify-content: center;
        gap: 80px;
    }
}

@media (min-width: 1024px) {

    .footer-container {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .footer-contain {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .input-footer {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-button {

        margin: 0;
    }

    .input-footer input {

        margin: 0;

    }

    .input-footer h4 {
        width: 280px;

    }
}